#post-form{
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    height: 50%;
    margin-top: 40px;
    --ion-background-color:white;
}
.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 100%;
}

ion-content{
    --ion-background-color:white;
}

ion-toolbar{
    --border-style:inset;
    --border-color: black;
    --border-width: 0 0 2px 0;
    --ion-background-color:white;
}

ion-grid{
    width: 100%;
}

.send-button{
    --background: #4cfcdc;
    --color: #000;


    --border-color: #000;
    --border-style: dashed;
    --border-width: 4px;
    --border-radious: 10px;

    width: 40%;
    height: 10%;
}

.Form-item{
    --padding-bottom: 20%;
}

