<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"> Cancelar </ion-button>
    </ion-buttons>
    <ion-title size="large">Agregar Tarea</ion-title>
  </ion-toolbar>
</ion-header>


  <div class="center">
    <form id="post-form" [formGroup] = "postForm">
      <ion-item class="Form-item">
        <ion-label position="stacked"> Nombre de la tarea </ion-label>
        <ion-input type="text" 
        formControlName="title"> </ion-input>
      </ion-item>

      <ion-item class="Form-item">
        <ion-label position="stacked" > Fecha estimada en que se completará </ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-select formControlName="month" placeholder="Mes">
                <ion-select-option *ngFor="let month of months" [value]="month"> {{month}} </ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-select formControlName="year" placeholder="Año">
                <ion-select-option *ngFor="let year of years" [value]="year"> {{year}} </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item class="Form-item">
        <ion-label position="stacked"> Descripción </ion-label>
        <ion-textarea formControlName="desc">
        </ion-textarea>
      </ion-item>

    </form>
    
    <ion-button [disabled]="!postForm.valid" (click)="agregarTarea()" shape="round" class="send-button">
      Agregar
    </ion-button>


  </div>



