<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img [src]="imgUrl">
  </div>

  <div id="container">
    <Lista-component> </Lista-component>

    <p [ngClass] = "{'rojo': verdadero, 'azul': !verdadero}"> 
      Si <strong> verdadero</strong> es true el texto será <strong> rojo</strong>
      Sino el texto será <strong> azul</strong>
      
    </p>
  </div>

  <div id="container">
    <ion-button (click)="hazmeClic()"> Hazme Clic! </ion-button>
  </div>
  
  <div id="container">
    <p> Inserte el nombre del alumno en el campo</p>
    <ion-input [(ngModel)] = "nombreAlumno"></ion-input>

    <ion-label> El alumno se llama: <strong>{{nombreAlumno}} </strong></ion-label>
  </div>

</ion-content>
