ion-title{
    text-align: center;
}

ion-title.title-large {
    font-size: 30px;
}

ion-toolbar{
    --border-style:inset;
    --border-color: white;
    --border-width: 0 0 2px 0;
    --background:#bc24a4;
    --color:white;
}

ion-content{
    --ion-background-color: #bc24a4;
}

#card{
    background-color: white;
    color: #bc24a4;
    border-radius: 0;
    margin-top: 40px;
    width: 70%;
    margin-left: 15%;
}

#subtitle{
    color: #bc24a4;
}

#card-content{
    display: inline-flex;
    flex-direction: row;

}


#card-button{
    background-color: #dcdcdc;
    --color: #bc24a4;
    display: block;
}

#floating-button{
    --background: #4cfcdc;
    --color: #000;


    --border-color: #000;
    --border-style: dashed;
    --border-width: 4px;
}


ion-modal{
    --background:white;
}

ion-select-option{
    --background: white;
}

@media only screen and (min-width: 740px) {
    #card{
        background-color: white;
        color: #bc24a4;
        border-radius: 0;
        display: inline-block;
        width: 17%;
        margin-top: 4%;
        margin-left: 3%;
    }

  }
