<ion-header>
  <ion-toolbar>
    <ion-title>Mi App de Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openForm()" id="floating-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <div class="general">
    
    <ion-card id="card" *ngFor="let post of tareas; let i = index">
      <ion-button id="card-button" fill="clear" strong="true" (click)="deletePost(i)"> Eliminar </ion-button>
      <ion-card-header>
        <ion-card-subtitle id="subtitle"> <strong> {{post.title}} </strong> </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content >
        <div id="card-content"> 
          <p style="color: black;"> <strong> Fecha </strong> </p> 
          <p style="margin-left: 30%;"> {{post.date}} </p>
        </div>

      </ion-card-content>
      <ion-button id="card-button" fill="clear" strong="true" [routerLink]="['/tareas', i]"> + Ver más detalles </ion-button>
    </ion-card>
  

  </div>


  <ion-modal [isOpen] = "isModalOpen" [canDismiss]="canDismiss">
    <ng-template styles="" >
      <app-agregar-tarea (messageEvent) = "cancelarForm()"> </app-agregar-tarea>
    </ng-template>
  </ion-modal>


  


</ion-content>
